body {
	background: #FAFAFA;
	font-family: 'Inconsolata';
	color: #333;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #1ABC9C;

	-webkit-transition: all 0.3s;
    transition: all 0.3s;

	&:hover {
		color: #16a085;
	}
}

h1 {
	font-size: 34px;
}

.page-content {

	>.wrap {
		max-width: 900px;
		min-width: 320px;
		margin: auto;
		text-align: center;
	}
}

.social-strip {
	text-align: center;
	padding: 15px;

	li {
		display: inline-block;
		margin: 0 3px;
		font-size: 24px;
	}
}

.title {
	margin: 75px 0 0 0;
}

.subtitle {
	color: #95a5a6;
	margin: 3px 0 25px 0;
	font-weight: normal;
	font-size: 16px;
}

.bio {
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	max-width: 560px;
	margin: auto;
}

.portfolio-section {
	margin-top: 110px;
	overflow: hidden;

	>h3 {
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
}

.portfolio-item {
	width: 33.33%;
	float: left;

	.image {
		width: 125px;
		height: 125px;
		border-radius: 50%;
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
		margin: auto;
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
		}
	}
	.name {
		font-weight: bold;
		font-size: 16px;
		margin: 20px 0 2px 0;
		display: block;
	}
	.tech {
		font-size: 12px;
		margin-bottom: 20px;
	}
	p {
		font-size: 12px;
		max-width: 200px;
		margin: auto;
	}
}