html {
  font-size: 62.5%; }

body {
  background: #FDFDFD;
  font-family: 'Inconsolata';
  color: #333;
  border-bottom: 15px solid #EEE;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #1ABC9C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    color: #16a085; }

h1 {
  font-size: 34px;
  font-size: 3.4rem; }

.page-content > .wrap {
  max-width: 900px;
  min-width: 320px;
  margin: auto;
  text-align: center; }

.social-strip {
  text-align: center;
  padding: 15px; }
  .social-strip li {
    display: inline-block;
    margin: 0 3px;
    font-size: 24px;
    font-size: 2.4rem; }

.title {
  margin: 75px 0 0 0;
  margin: 7.5rem 0 0 0; }

.subtitle {
  color: #95a5a6;
  margin: 3px 0 25px 0;
  margin: 0.3rem 0 2.5rem 0;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem; }

.bio {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 22px;
  line-height: 2.2rem;
  max-width: 560px;
  margin: auto;
  padding: 0 1rem; }

.home-section {
  margin-top: 110px;
  margin-top: 11rem;
  overflow: hidden; }
  .home-section > h3 {
    font-size: 20px;
    font-size: 2rem;
    text-transform: uppercase; }

.home-section_subtitle {
  font-size: 12px;
  font-size: 1.2rem;
  color: #95a5a6;
  margin: -13px auto 0 auto;
  margin: -1.3rem auto 0 auto;
  max-width: 240px; }

.portfolio-item {
  width: 33.33%;
  float: left;
  margin-top: 60px; }
  .portfolio-item .image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin: auto;
    overflow: hidden;
    display: block; }
    .portfolio-item .image img {
      width: 100%;
      height: 100%; }
  .portfolio-item .name {
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 20px 0 2px 0;
    margin: 2rem 0 0.2rem 0;
    display: block; }
  .portfolio-item .tech {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    color: #95a5a6; }
  .portfolio-item p {
    font-size: 12px;
    font-size: 1.2rem;
    max-width: 225px;
    margin: auto;
    line-height: 16px;
    line-height: 1.6rem; }

.footer {
  margin: 150px 0 100px 0;
  margin: 15rem 0 10rem 0; }

.footer-me {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold; }

@media screen and (max-width: 600px) {
  html {
    font-size: 53%; }

  .portfolio-item {
    width: 100%; } }
